body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 132px;
}

.container {
    display: flex;
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
}

.header-text {
    width: 50%;
    padding-left: 106px;
    padding-top: 111px;
    margin-right: 24px;
    width: 531px;
    height: 424px;

}

h1 {
    font-size: 70px;
    color: #FFFFFF;
    font-weight: 700;
    margin: 0;
    height: 240px;
    line-height: 80px;

}

.header-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 30px;

}

.button {
    text-decoration: none;
    padding: 16px 25px;
    background: #DD0000;
    border-radius: 5px;
    color: #FFFFFF;

}

.banner-image {
    width: 50%;
}

.header-image {
    width: 581px;
    height: 613px;
    margin-top: 33px;
    margin-left: 10px;
}

.main-section {
    display: flex;
    margin-left: 100px;
    margin-right: 140px;
}

.side-menu-container {
    margin-right: 24px;
}

.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;

}

.menu {
    margin: 30px;

}

.options-1 {
    width: 252px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #161616;
    text-decoration: none;
    padding: 17px 39px;
}

.options-2 {
    width: 252px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #161616;
    text-decoration: none;
    padding: 17px 80px;
}

.options-3 {
    width: 252px;
    height: 64px;
    background: #DD0000;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 17px 103px;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 130px;

}

.blog {
    border: 1px solid rgb(240, 238, 238);
    border-radius: 10px;
    padding-bottom: 15px;
}

h4 {
    margin-left: 10px;
    margin-right: 200px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 0px 5px 15px;

}

p {
    margin-left: 10px;
    font-weight: 700;
}

.blog-interaction {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.time {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.comments {
    display: flex;
    align-items: center;
}



.footer {
    width: 100%;
    height: 444px;
    background: #161616;
}

h2 {
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 130px;
}

hr {
    margin: 50px 140px 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.spans {
    text-align: center;
}

span {
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
    padding: 0 20px;
}


/*------------- 
Mobile devices 
-------------*/
@media only screen and (max-width:688px) {

    .container {
        display: block;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        margin: 10x;
        align-items: center;
        justify-content: center;

    }

    .header-text {
        width: 100%;
    }

    .banner-image {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: -60px;
    }

    .header-image {
        width: 233px;
        height: 245px;
    }

    h1 {
        width: 90%;
        text-align: center;
        margin-left: -80px;
        font-size: 35px;
        font-weight: 700;
    }

    .header-description {
        width: 80%;
        margin-top: -50px;
        margin-left: -50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }


    .main-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .side-menu {

        background: none;
    }

    .blog-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #view-all {
        display: none;
    }

    .footer {
        width: 100%;

    }

    .spans {
        display: flex;
        flex-direction: column;
    }
}

/*-------------------- 
        Tblet
 ------------------*/
@media only screen and (min-width: 689px) and (max-width: 992px) {

    .container {

        width: 100%;
        height: 398px;
        justify-content: center;
        align-items: center;

    }

    h1 {
        font-size: 30px;
        line-height: 50px;


    }

    .header-description {

        margin-top: -150px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;

    }

    .banner-image {
        width: 50%;
    }

    .header-image {
        width: 323px;
        height: 340px;
        margin-bottom: -30px;
    }

    .main-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .side-menu {
        background: none;

    }

    .blog-container {
        grid-template-columns: repeat(2, 1fr);
    }



    .view-all {
        text-decoration: none;
        padding: 16px 25px;
        background: #DD0000;
        border-radius: 5px;
        color: #FFFFFF;
    }

}

@media only screen and (min-width: 993px) {
    #view-all {
        display: none;
    }
}